.Home {
  text-align: center;
}

.Home-logo {
  animation: logo-spin infinite 20s linear;
  height: 80px;
}

.Home-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.Home-intro {
  font-size: large;
}

.Home-resources {
  list-style: none;
}

.Home-resources>li {
  display: inline-block;
  padding: 1rem;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.list-container {
  list-style-type: none;
  max-width: 700px;
  margin: 30px auto;
  padding: 0;
}

.list-container li {
  text-align: center;
  margin: 0 auto;
  color: #444;
  border-bottom: 1px solid #e4e4e4;
  padding: 15px;
  margin-bottom: 15px;
}